### Terraform ###
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
.terraform.tfstate.lock.info
**/.terraform/*
*.auto.tfvars
*.tfoverride
.terraformrc
terraform.rc
tfplan

### MacOS ##
.DS_Store
._*
Thumbs.db
